In [11]:
import pandas as pd
from random import seed
from random import random
seed(1)
movies_df = pd.read_csv('./movies.csv')
ratings_df = pd.read_csv('./ratings.csv')

movies_df.head()

In [7]:
movies_df['genres'] = movies_df.genres.str.split(', ')
movies_df.head()

,movieId,title,director,cast,country,year,duration,genres,description
0,8,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s..."
1,25,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,1998,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...
2,42,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,1975,124 min,"[Action & Adventure, Classic Movies, Dramas]",When an insatiable great white shark terrorize...
3,43,Jaws 2,Jeannot Szwarc,"Roy Scheider, Lorraine Gary, Murray Hamilton, ...",United States,1978,116 min,"[Dramas, Horror Movies, Thrillers]",Four years after the last deadly shark attacks...
4,44,Jaws 3,Joe Alves,"Dennis Quaid, Bess Armstrong, Simon MacCorkind...",United States,1983,98 min,"[Action & Adventure, Horror Movies, Thrillers]",After the staff of a marine theme park try to ...

In [8]:
moviesWithGenres_df = movies_df.copy()
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
        
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,director,cast,country,year,duration,genres,description,Dramas,...,Children & Family Movies,Cult Movies,Music & Musicals,Sci-Fi & Fantasy,Documentaries,Sports Movies,Stand-Up Comedy,Movies,Faith & Spirituality,LGBTQ Movies
0,8,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s...",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,1998,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,42,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,1975,124 min,"[Action & Adventure, Classic Movies, Dramas]",When an insatiable great white shark terrorize...,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,43,Jaws 2,Jeannot Szwarc,"Roy Scheider, Lorraine Gary, Murray Hamilton, ...",United States,1978,116 min,"[Dramas, Horror Movies, Thrillers]",Four years after the last deadly shark attacks...,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,44,Jaws 3,Joe Alves,"Dennis Quaid, Bess Armstrong, Simon MacCorkind...",United States,1983,98 min,"[Action & Adventure, Horror Movies, Thrillers]",After the staff of a marine theme park try to ...,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from sklearn.utils import shuffle

ratings_df = ratings_df.drop('release_year',axis=1)
ratings_df = ratings_df.drop('title',axis=1)

index = 0

for row in ratings_df.iterrows():
    ratings_df.at[index,'userId'] = int(random() * 100)
    index+=1

ratings_df = shuffle(ratings_df)
ratings_df.head()

        movieId  rating                 timestamp  userId
121985    13507       5  2005-06-07T00:00:00.000Z    50.0
143469    15737       3  2005-10-01T00:00:00.000Z     7.0
88187     10051       3  2005-04-29T00:00:00.000Z    64.0
36255      4306       3  2004-09-13T00:00:00.000Z    45.0
118273    13157       4  2005-04-23T00:00:00.000Z    52.0

In [10]:
userInput = [
            {'title':'Jaws 2', 'rating':5},
            {'title':'Indiana Jones and the Temple of Doom', 'rating':3.5},
            {'title':'Hellboy', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Kill Bill: Vol. 1', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                                  title  rating
0                                Jaws 2     5.0
1  Indiana Jones and the Temple of Doom     3.5
2                               Hellboy     2.0
3                          Pulp Fiction     5.0
4                     Kill Bill: Vol. 1     4.5

In [ ]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(
    inputMovies['movieId'].tolist())]
userMovies = userMovies.drop(columns='description')
userMovies = userMovies.drop(columns='director')
userMovies = userMovies.drop(columns='cast')
userMovies = userMovies.drop(columns='country')
userMovies = userMovies.drop(columns='duration')

userMovies

,movieId,title,year,genres,Dramas,Independent Movies,International Movies,Comedies,Romantic Movies,Action & Adventure,...,Children & Family Movies,Cult Movies,Music & Musicals,Sci-Fi & Fantasy,Documentaries,Sports Movies,Stand-Up Comedy,Movies,Faith & Spirituality,LGBTQ Movies
3,43,Jaws 2,1978,"[Dramas, Horror Movies, Thrillers]",1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453,6958,Hellboy,2004,"[Action & Adventure, Cult Movies, Sci-Fi & Fan...",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
466,7074,Indiana Jones and the Temple of Doom,1984,"[Action & Adventure, Children & Family Movies,...",0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
489,7198,Kill Bill: Vol. 1,2003,[Action & Adventure],0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
569,7803,Pulp Fiction,1994,"[Classic Movies, Cult Movies, Dramas]",1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop(columns='movieId').drop( columns='title').drop(columns='genres').drop(columns='year')
userGenreTable

,Dramas,Independent Movies,International Movies,Comedies,Romantic Movies,Action & Adventure,Classic Movies,Horror Movies,Thrillers,Anime Features,Children & Family Movies,Cult Movies,Music & Musicals,Sci-Fi & Fantasy,Documentaries,Sports Movies,Stand-Up Comedy,Movies,Faith & Spirituality,LGBTQ Movies
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
inputMovies['rating']

0    5.0
1    2.0
2    3.5
3    4.5
4    5.0
Name: rating, dtype: float64

In [ ]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])

userProfile

Dramas                      10.0
Independent Movies           0.0
International Movies         0.0
Comedies                     0.0
Romantic Movies              0.0
Action & Adventure          10.0
Classic Movies               8.5
Horror Movies                5.0
Thrillers                    5.0
Anime Features               0.0
Children & Family Movies     3.5
Cult Movies                  7.0
Music & Musicals             0.0
Sci-Fi & Fantasy             2.0
Documentaries                0.0
Sports Movies                0.0
Stand-Up Comedy              0.0
Movies                       0.0
Faith & Spirituality         0.0
LGBTQ Movies                 0.0
dtype: float64

In [ ]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])

genreTable = genreTable.drop('movieId', axis=1).drop('title', axis=1).drop('genres',axis=1).drop('year',axis=1)
genreTable.head()

,director,cast,country,duration,description,Dramas,Independent Movies,International Movies,Comedies,Romantic Movies,...,Children & Family Movies,Cult Movies,Music & Musicals,Sci-Fi & Fantasy,Documentaries,Sports Movies,Stand-Up Comedy,Movies,Faith & Spirituality,LGBTQ Movies
movieId,,,,,,,,,,,,,,,,,,,,,
8,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",125 min,"On a photo shoot in Ghana, an American model s...",1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,166 min,When the father of the man she loves insists t...,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,124 min,When an insatiable great white shark terrorize...,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Jeannot Szwarc,"Roy Scheider, Lorraine Gary, Murray Hamilton, ...",United States,116 min,Four years after the last deadly shark attacks...,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Joe Alves,"Dennis Quaid, Bess Armstrong, Simon MacCorkind...",United States,98 min,After the staff of a marine theme park try to ...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
genreTable.shape

(724, 25)

In [ ]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
8     0.196078
25    0.000000
42    0.558824
43    0.392157
44    0.392157
dtype: float64

In [ ]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)

recommendationTable_df.head()

movieId
6359    0.558824
8128    0.558824
6031    0.558824
1252    0.558824
7752    0.558824
dtype: float64

In [ ]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(10).keys())]

,movieId,title,director,cast,country,year,duration,genres,description
2,42,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,1975,124 min,"[Action & Adventure, Classic Movies, Dramas]",When an insatiable great white shark terrorize...
17,132,Blade Runner: The Final Cut,Ridley Scott,"Harrison Ford, Rutger Hauer, Sean Young, Edwar...",United States,1982,117 min,"[Action & Adventure, Classic Movies, Cult Movies]","In a smog-choked dystopian Los Angeles, blade ..."
135,1252,Dances with Wolves,Kevin Costner,"Kevin Costner, Mary McDonnell, Rodney Grant, G...","United States, United Kingdom",1990,181 min,"[Action & Adventure, Classic Movies, Dramas]","On the frontier, a Civil War soldier bonds wit..."
183,2374,Saladin,Youssef Chahine,"Ahmad Mazhar, Salah Zo El Faqqar, Nadia Lotfi,...",Egypt,1963,194 min,"[Action & Adventure, Classic Movies, Dramas]",The Sultan of Egypt and Syria launches a campa...
312,6031,A Bridge Too Far,Richard Attenborough,"Dirk Bogarde, James Caan, Michael Caine, Sean ...","United States, United Kingdom",1977,176 min,"[Action & Adventure, Classic Movies, Dramas]",This wartime drama details a pivotal day in 19...
362,6359,Bonnie and Clyde,Arthur Penn,"Warren Beatty, Faye Dunaway, Michael J. Pollar...",United States,1967,111 min,"[Action & Adventure, Classic Movies, Dramas]","Bonnie Parker and Clyde Barrow are young, in l..."
539,7531,Mutiny on the Bounty,"Lewis Milestone, Carol Reed","Marlon Brando, Trevor Howard, Richard Harris, ...",United States,1962,185 min,"[Action & Adventure, Classic Movies, Dramas]",Marlon Brando gives a nuanced performance as t...
563,7752,Platoon,Oliver Stone,"Tom Berenger, Willem Dafoe, Charlie Sheen, For...","United States, United Kingdom",1986,120 min,"[Action & Adventure, Classic Movies, Dramas]",A soldier grows disillusioned as he's caught b...
578,7880,Rocky,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burt Young, C...",United States,1976,120 min,"[Action & Adventure, Classic Movies, Dramas]",Sylvester Stallone shot to fame as Rocky Balbo...
624,8128,Superfly,Gordon Parks,"Ron O'Neal, Carl Lee, Sheila Frazier, Julius H...",United States,1972,91 min,"[Action & Adventure, Classic Movies, Dramas]","To get away from the thug life, cocaine dealer..."